<p style="color: green"><%= notice %></p>

<h1 class="my-4 text-center"><%= pluralize(Note.count, "Note") %></h1>

<div class="row">
  <%= render partial: 'notes/note' %>
</div>

<%= will_paginate @notes %>
