<div class="w-100 d-flex flex-column align-items-center">
  <h1 class="my-4 display-6">User's profile edition</h1>

  <div class="col-md-3 col-12">
    <%= render 'form' %>

    <p class="buffer-top">
      <%= link_to "Change the password", edit_user_registration_path %>
    </p>
  </div>
</div>
